*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif, "Poppins";
}

.collapsebackclick{
    cursor: pointer;
}
.arrowLeft{
    background-color: rgba(115, 205, 2, 0.2);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.collapsebackright{
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 24px;
    border: none;
    background-color: rgba(115, 205, 2, 0.2);
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.activebutton{
    background-color: rgba(115, 205, 2, 1);
    color: #000;
    text-align: center;
    border-radius: 5px 0px 0px 0px;
    -webkit-border-radius: 5px 0px 0px 0px;
    -moz-border-radius: 5px 0px 0px 0px;
    -ms-border-radius: 5px 0px 0px 0px;
    -o-border-radius: 5px 0px 0px 0px;
}
.rewardbutton{
    background-color: rgba(115, 205, 2, 0.2);
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    border-radius: 0px 5px 0px 0px;
    -webkit-border-radius: 0px 5px 0px 0px;
    -moz-border-radius: 0px 5px 0px 0px;
    -ms-border-radius: 0px 5px 0px 0px;
    -o-border-radius: 0px 5px 0px 0px;
}
.topcompetition{
    font-size: 22px;
    font-weight: 400;
    color: white;
}
.topcollapse, .topcollapsegames{
    background-color: rgba(115, 205, 2, 0.2);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 10px;
}
.topcollapsegames{
    margin-bottom: 24px;
}
.activetext{
    color: rgba(115, 205, 2, 1);
    font-size: 16px;
    font-weight: 400;
    background-color: rgba(44, 40, 40, 1);
    border: solid 1px rgba(0, 0, 0, 0.3);
    padding: 10px;
}
.activetop{
    padding: 10px;
    background-color: rgba(35, 41, 34, 1);
    border: solid 1px rgba(0, 0, 0, 0.3);
    color: rgba(115, 205, 2, 1);
    font-size: 16px;
    font-weight: 300;
}
.activeall{
    padding: 10px;
    background-color: rgba(44, 40, 40, 1);
    color: rgba(115, 205, 2, 1);
}