:root {
  --mobile-bar-height: 40px;
}

html, body {
    margin: 0;
    background-color: white;
    overflow: hidden;
    touch-action: none;
}

/* input[type=""] */

#power {
  position: absolute;
  top: 0;
  display: none;
  height: var(--mobile-bar-height);
  /* height: 40px; */
  width: 100%;
  /* margin-top: 50px; */
  /* background-color: red; */
  /* background-color: black; */
  z-index: 1;
  background-image: url(../assets/sprites/spr_stick.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: center;
  background-position-x: center;
}

#base {
  position: absolute;
  top: 0;
  display: none;
  height: var(--mobile-bar-height);
  width: 50%;
  margin-top: 50px;
  border: 7px solid #515151;
  border-style: solid;
  background: linear-gradient(to right, #de5c00 60%, orange);
  /* background: linear-gradient(to right, #ff720e 60%, orange); */
  /* background-color: orange; */
  /* background-color: black; */
  /* background-color: red; */
  z-index: 1;
  left: 50%;
  translate: -50% 0;
  overflow: hidden;
  /* background-image: url(../assets/sprites/spr_stick.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position-y: center;
  background-position-x: center; */
}

/* canvas { */
  /* border: 2px solid red; */
/* } */

/*#screen{
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}*/