/* User Profile Nav  */
.user-profile-nav-nav-link-icon-container{
    border-radius: 12px;
    background: rgba(189, 49, 147, 0.10);    
}

.user-profile-nav-nav-link-icon{
    /* color: linear-gradient(to right, #FFB1E7, #6499FF); */
    color: #6499FF
}

.user-profile-nav-link-container-active{
    border-right: 4px solid #BD3193;
}

.user-profile-nav-link-container{
    border-right: 4px solid rgba(255, 255, 255, 0.30);
}






/* Edit Profile  */
.user-profile-edit-profile-img-container{
    border: 5px solid #BD3193;    
}
.user-profile-edit-profile-profile-edit-icon{
    position: relative;
}



/* Security */
.user-profile-security-option-container{
    background-color: rgba(189, 49, 147, 0.20);
    box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.10);    
}


/* Transaction History */
.user-profile-transac-history-transac-icon-container{
    background-color: rgba(196, 78, 239, 0.1);
}