*, *::before, *::after{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.generaltournament{
    background-color: rgba(19, 8, 40, 1);
}
.tournamenthero{
    padding: 40px 48px;
}
*, *::before, *::after{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.Vsopponent{
    width: 40vw;
    min-width: 350px;
    padding: 35px 0px;
}
.selectedtext{
    font-size: 36px;
    font-weight: 700;
    /* font-family: sans-serif, 'Quantico'; */
    color: white;
}
.userdifferent{
    color: rgba(189, 49, 147, 1);
}
.ludotournamentgeneral{
    background-color: rgba(19, 8, 40, 1);
}
.ludotournamentcontainer{
    width: 90vw;
}



/* game lost modal  */
.game-lost-modal .modal-content{
    background-color: #EA4335;
}

.game-lost-modal .modal-backdrop{
    background-color: #EA4335;
}

.game-lost-modal .modal{
    --bs-modal-bg: #EA4335;
}