*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.carousel-1-bg{
    background-image: url('../../../assets/images/dashboardCarousel1.png');
    min-height: 40vh;
}
.carousel-2-bg{
    background-image: url('../../../assets/images/dashboardCarousel2.png');
    min-height: 40vh;
}
.carousel-3-bg{
    background-image: url('../../../assets/images/dashboardCarousel3.png');
    min-height: 40vh;
}
.carousel-4-bg{
    background-image: url('../../../assets/images/dashboardCarousel4.png');
    min-height: 40vh;
}
.herogeneral{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.combinations{
    align-items: start;
    flex-direction: column;
}
.availablegamescontainer{
    display: flex;
    flex-direction: column;
}
.AvailableGames{
    color: white;
    line-height: 32px;
    font-size: 18px;
    font-weight: 500; 
    margin-top: 32px;
    margin-bottom: 24px;
}
.Availabletitle{
    font-weight: 500;
    font-size: 18px;
    color: white;
}
.topgamertitle{
    color: white;
    font-size: 18px;
    font-weight: 500;
}
.seelink{
    width: 113px;
    padding: 10px;
}
.topgamersseeall{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: rgba(189, 49, 147, 1);
}
.availableContainer{
    padding: 16px 18px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 260px;
}
#whot{
    background-color: rgba(144, 58, 57, 1);
    color: white;
}
#chess{
    background-color: rgba(39, 150, 206, 1);
}
#scrabble{
    background-color: rgba(234, 211, 171, 1);
}
#ludo{
    background-color:rgba(251, 188, 4, 1);
}
#snooker{
    background-color: rgba(115, 205, 2, 1);
}
.anchorarrow{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.availablegeneral{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.gamesname{
    font-family: "Quantico", sans-serif;
    font-weight: 700;
    font-size: 16px;
}
.gameswriteup{
    font-weight: 300;
    font-size: 10px;
}
.seeall{
    text-decoration: none;
    color: rgba(189, 49, 147, 1);
    font-size: 16;
    font-weight: 400;
    font-family: sans-serif, "Poppins";
}

/* CAROUSEL STYLING */

.gamestitles{
    color: white;
    font-family: "Quantico", sans-serif;
    font-size: 40px;
    font-weight: 700;
}
.gamesdescription{
    font-weight: 400;
    font-size: 20px;
    color:rgba(255, 255, 255, 0.7);
    margin: 18px 0px 40px 0px;
}
.enterbutton{
    text-decoration: none;
    color:white;
    font-size: 20px;
    background-color: rgba(189, 49, 147, 1);
}
.additionaltext{
    background-image: linear-gradient(100deg, rgba(189, 49, 147, 1), rgba(159, 203, 58, 1));
    -webkit-background-clip: text;
    color: transparent;
    padding-left: 14px;
}
.carouselContainer{
    background-color:black;
}
.carouselleft{
    padding: 30px;
}
.carousel-control-next-icon, 
.carousel-control-prev-icon{
    background-color: rgba(189, 49, 147, 1);
    width: 50px !important;
    height: 50px !important;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.carousel-control-next-icon{
    background-image: url("../../../assets/images/carouselright.svg") !important;
    background-size:auto !important;
}
.carousel-control-prev-icon{
    background-image: url("../../../assets/images/carouselleft.svg") !important;
    background-size:auto !important;
}
.carousel-indicators [data-bs-target] {
    width: 8px !important;
    height: 8px !important;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: -80px !important;
    background-color: rgba(189, 49, 147, 1) !important;
}