
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dashboard-header-bg{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), rgba(115, 205, 2, 0.20);    
}

.navContainer{
    background-color: rgba(189, 49, 147, 0.2);
}

.navlinks{
    text-decoration: none;
}
.navlinks:hover{
    color: #73CD02;
}
.profileimage, .logowithname{
    width: 90px !important;
    /* height: 70px; */
}
.profileimage{
    border: 5px solid #73CD02;
    border-radius: 100%;
}