/* Withdraw Modal  */
.withdraw-modal-balance-container{
    border-radius: 15px;
    background: #73CD02;    
}


/* deposit  */
.deposit-option-container{
    border-radius: 5px;
    background: rgba(115, 205, 2, 0.60);    
}