/* Active users */
.active-users-share-btn{
    background-color: transparent;
}

.active-users-share-btn:hover{
    border: none;
    background-color: #FBBC04;
}

.active-users-share-btn-txt{
    color: #FFF;
}




/* Create Lobby  */
.create-lobby-bg{
    border-radius: 8px;
    border: 2px solid #D0E89C;
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url('../../../assets/images/createLobbyImg1.png') lightgray 0px -178.24px / 100% 175.962% no-repeat; */
}

.create-lobby-title-span{
    background: linear-gradient(0deg, #BD3193 0%, #BD3193 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.create-lobby-join-btn{
    border: 1px solid #FBBC04;
}

.create-lobby-increment-stake-container, .create-lobby-decrement-stake-container{
    border-radius: 5px;
    background-color: #FFF;
}

.create-lobby-stake-txt{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.create-lobby-stake-option-container{
    border-radius: 5px;
    background-color: #FFDA70;    
}



/* Join Lobby Modal  */
.join-lobby-input{
    border: 1px solid #BD3193;
    background: rgba(255, 255, 255, 0.20);    
}

/* Join Lobby  */
.join-lobby-inactive-route{
    border: 1px solid #BD3193;
}