/* Register */
.register-bg{
    background-color: #130828;
}
.register-acct-txt{
    background: linear-gradient(94deg, #BD3193 25.52%, #9FCB3A 84.53%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.register-input-container{
    border: 1px solid #73CD02;
    background: rgba(255, 255, 255, 0.20);    
}

.register-input::placeholder{
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;    
}

.register-carousel-container{
    background: linear-gradient(140deg, rgba(255, 255, 255, 0.25) 7.71%, rgba(255, 255, 255, 0.20) 103.2%);
    stroke-width: 2px;
    stroke: #E4D4DF;
    backdrop-filter: blur(17.5px);
    -webkit-backdrop-filter: blur(17.5px);
    /* border: 1.5px solid #E4D4DF;  */
    transform: skew(2deg, 1deg)
    /* background-image: url('../../../assets/images/registerCarouselBg.png');   */
}



/* Email verification */
.email-verify-bg{
    background-color: #130828;
    min-height: 100vh;
}

.email-verify-email-txt{
    background: linear-gradient(95deg, #BD3193 34.72%, #9FCB3A 51.72%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}

.email-verify-input{
    border-radius: 15px;
    border: 1px solid #9FCC3B;    
}




/* Login  */
.login-other-options-container{
    border-radius: 8px;
    border: 1px solid rgba(203, 93, 169, 0.90);
    background: #130828;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);    
}

.login-or-line{
    height: 1px;
    opacity: 0.7;
    background: rgba(255, 255, 255, 0.40);
}