.scrabble-overhead-wrapper {
    background-color: #E3E3E3;
}

.scrabble-overhead-wrapper p {
    margin-bottom: 0;
    line-height: 20px;
}

.scrabble-overhead {
    display: flex;
    width: 100vw;
    height: 9rem;
    justify-content: space-between;
    padding: 0 1rem;
    position: relative;
}

.scrabble-overhead-turn {
    border: 1px solid black;
    animation: glow 1s infinite alternate;
}

.scrabble-prof1, .scrabble-prof2 {
    padding-top: 0.5rem;
    flex-basis: 30%;
    text-align: center;
}

.scrabble-prof1 img, .scrabble-prof2 img {
    width: 70%;
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    border: 4px solid purple;
}

.scrabble-color {
    width: 20px;
    height: 20px;
    /* background-color: white; */
    position: relative;
    left: 50%;
    top: 0%;
    translate: -50% 0;
    box-shadow: 0 4px 15px -3px black;
}