/* General */
.clickable{
  cursor: pointer;
}

.img-bg{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



/* Text Colors */
.txt-FFF{
  color: #FFF;
}

.txt-DC1212{
  color: #DC1212;
}

.txt-BD3193{
  color: #BD3193;
}

.txt-F7FAFF{
  color: #F7FAFF;
}

.txt-130828{
  color: #130828;
}

.txt-FBBC04{
  color: #FBBC04;
}

.txt-000{
  color: #000;
}

.txt-979797{
  color: #979797
}

.txt-4FC143{
  color: #4FC143;
}

.txt-E75547{
  color: #E75547;
}

.txt-FEFEFF{
  color: #FEFEFF;
}





/* Text Sizes */

/* Extra small text */
.extra-small-txt{
  font-size: 11px;
}

/* Small text */
.small-txt{
  font-size: 14px;
}

/* Regular text */
.regular-txt{
  font-size: 16px;
}

/* Medium text */
.medium-txt{
  font-size: 19px;
}

/* Large text */
.large-txt{
  font-size: 24px;
}

/* Extra Large text */
.exta-large-txt{
  font-size: 26px;
}






/* Font weights */
.font-weight-700{
  font-weight: 700;
}

.font-weight-600{
  font-weight: 600;
}

.font-weight-500{
  font-weight: 500;
}

.font-weight-400{
  font-weight: 400;
}

.font-weight-300{
  font-weight: 300;
}

.font-weight-200{
  font-weight: 200;
}


/* Font family */
.font-family-poppins{
  font-family: Poppins;
}

.font-family-quantico{
  font-family: Quantico;
}

.font-family-source-sans{
  font-family: SourceSans;
}






/* Opacity */
.opacity-_1{
  opacity: 0.1;
}

.opacity-_7{
  opacity: 0.7;
}

.opacity-_8{
  opacity: 0.8;
}






/* Backgrounds */
.bg-img{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-EA4335{
  background-color: #EA4335;
}

.bg-BD3193{
  background-color: #BD3193;
}

.bg-BE3593{
  background-color: #BE3593;
}

.bg-FBBC04{
  background-color: #FBBC04;
}

.bg-000{
  background-color: #000;
}

.bg-73CD02{
  background-color: #73CD02;
}

.bg-2796CE{
  background-color: #2796CE;
}

.bg-903A39{
  background-color: #903A39;
}

.bg-EAD3AB{
  background-color: #EAD3AB;
}

.bg-FD8D84{
  background-color: #FD8D84;
}

.bg-84FDA6{
  background-color: #84FDA6;
}

.bg-C44EEF{
  background-color: #C44EEF;
}

.bg-B1DEFF{
  background-color: #B1DEFF;
}

.bg-C59AFC{
  background-color: #C59AFC;
}

.bg-FFD2B1{
  background-color: #FFD2B1;
}

.bg-C5F8FF{
  background-color: #C5F8FF;
}

.bg-FFF{
  background-color: #FFF;
}






/* Line height */
.line-height-30{
  line-height: 30px;
}

.line-height-20{
  line-height: 20px;
}

.line-height-24{
  line-height: 24px;
}

.line-height-18{
  line-height: 18px;
}

.line-height-16{
  line-height: 16px;
}



/* Letter spacing  */
.letter-spacing-_32{
  letter-spacing: 0.32px;
}

.letter-spacing-_22{
  letter-spacing: 0.22px;
}

.letter-spacing-_12{
  letter-spacing: 0.12px;
}

/* FOR GAME */
@keyframes glow {
    from {
      box-shadow: 0 0 10px -10px purple;
    }
    to {
      box-shadow: 0 0 10px 5px purple;
    }
}